export("baymap")
S3method(predict, baymap)
importFrom("stats", "rnorm", "pnorm", "rbeta", "rmultinom", "qbeta", "runif", "dunif", "pbeta", "rchisq", "dbinom")
importFrom("MASS", "ginv", "mvrnorm")
importFrom("msm", "rtnorm")
importFrom("mvtnorm", "rmvnorm")
importFrom("spdep")